#main-footer {
  background: #343a40;
  color: #fff;
}

#page-haeder {
  height: 200px;
  background: url("../assets/img/20210217_124107.jpg");
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
